@model IEnumerable<ModelLayer.EmployeePModel>

@{
    ViewData["Title"] = "Index";
}

<div>
    <img src="~/asset/logo (1).png" style="width:50px;height:47px" />
    <div>
        <span style="color: #82A70C">EMPLOYEE</span><br />
        <span style="color: #42515F"> PAYROLL</span>
    </div>
    <div>
</div>
    <div>
        <a class="btn-success" asp-action="Create">+ Create New</a>
    </div>

<table class="table" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Emplooyeeid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employeename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employeeimage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Startdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Emplooyeeid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employeename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employeeimage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Startdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Emplooyeeid }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Emplooyeeid  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Emplooyeeid  })
            </td>
        </tr>
}
    </tbody>
</table>
